footer {
    background-color: $yellow;
    margin-top: 5px;
    .tourism {
        padding: 10px;
    }
    ul>li {
        list-style: none;
    }
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}