$icon-font-path:"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "config";
@import "footer";

 .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Space out content a bit */

body {
    padding-top: 0px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.vertical-align {
    border-bottom: 1px solid #EEE;
}
.valign{
    padding-top: 20px;
}

.jumbotron {
    background-color: #e5e5e5;
    text-align: left !important;
    padding-top: 20px;
}
.jumbotron span {
    font-size: 20px;
    padding-left: 38px;
}
.jumbotron .block {
    border-top: 1px solid #999;
    margin-top: 10px;
    padding-top: 10px;
}
.big-block {
    margin-top: 30px;
}
.text {
    padding: 40px;
}
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    padding: 0px;
    border-bottom: 0px;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        //padding-bottom: 19px;

    }
}
.title{
    padding-bottom: 20px;
    color: #2E98DE;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #333;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
.container {
    padding: 0px;
    width: 100%;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-nav {
    margin: 0px -15px;
}
.navbar-default {
    background-color: #9DC038;
    border: 0px;
}
.navbar-brand {
    padding-top: 8px;
    margin-right: 15px;
    height: 60px;
}
/* Side Bar */

.row {
    margin-left: 0px;
    margin-right: 0px;
}
#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}
#sidebar-wrapper {
    margin-left: -150px;
    left: 20px;
    width: 200px;
    background: #FFF;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav span {
    padding-top: 20px;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}
#page-content-wrapper {
    width: 100%;
}
#sidebar_menu li a,
.sidebar-nav li a {
    color: #333;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: #FFF;
    border: 1px solid #EAD9D9;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar-nav > li > a > div {
    background-color: #ffd400;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}
.sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #333;
    display: block;
    text-decoration: none;
}
.navbar-nav > li > a {
    line-height: 32px;
}
.sidebar-nav li a:hover {
    color: #333;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    line-height: 60px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#main_icon {
    float: right;
    padding: 20px 20px 20px 16px;
}
.sub_icon {
    float: right;
    padding: 20px;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}
@media (max-width: 800px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 20px;
    }
    #wrapper.active {
        padding-left: 200px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 200px;
        transition: all .4s ease 0s;
    }
}
/* End Side Bar */

/* Responsive: Portrait tablets and up */

/*
@media screen and (min-width: 768px) {
    .container {
        //max-width: 730px;

    }

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}
*/