<div ng-controller="CarouselDemoCtrl">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;width:100%">
                <div class="carousel-caption">
                    <!--                    <p>{{slide.text}}</p>-->
                </div>
            </slide>
        </carousel>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
       <span>Amenities</span>
        <div class="col-lg-4 col-md-12">
            <img src="images/room2.png">
        </div>
        <div class="col-lg-4 col-md-12">
            <img src="images/room1.png">
        </div>
        <div class="col-lg-4 col-md-12">
            <img src="images/room1.png">
        </div>
    </div>


</div>
