<div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand">
            <a id="menu-toggle" href="#">                    AA Home<div id="main_icon" class="glyphicon glyphicon-align-justify"></div>
                    </a>
        </li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
        <li>
            <a href="#/"><span>Membership</span><div class="sub_icon glyphicon glyphicon-plus"></div></a>
        </li>
        <li>
            <a href="#/">Travel<div class="sub_icon glyphicon glyphicon-plus"></div></a>
        </li>
        <li>
            <a href="#/">Insurance<div class="sub_icon glyphicon glyphicon-plus"></div></a>
        </li>
        <li>
            <a href="#/">Finance<div class="sub_icon glyphicon glyphicon-plus"></div></a>
        </li>
        <li>
            <a href="#/">About<div class="sub_icon glyphicon glyphicon-plus"></div></a>
        </li>
    </ul>
</div>